.header {
    position: relative;
    height: 80vh;
    background: url('../../assets/fundo-nba.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.content {
    position: relative;
    text-align: center;
    color: white;
}

.nba-logo {
    width: 90px;
    margin-bottom: 20px;
}

.teams {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team img {
    width: 120px;
}

.team span {
    margin-top: 15px;
    background: #c5c5c5;
    border-radius: 50px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
}

.team p {
    margin-top: 20px;
    font-size: 14px;
}

.info {
    margin-top: 50px;
    background: #d32f2f;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 768px){
    .teams{
        gap: 50px;
    }   
}