.game-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0;
    width: 100%;
    background-color: #000;
}

.box {
    width: 590px;
    height: 250px;
    border-radius: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.texto {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.game-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.letras {
    font-size: 18px;
}

.game-info h4 {
    font-weight: 500;
    margin: 0;
}

.game-info p {
    margin: 5px 0;
    font-size: 16px;
}

.game-info h2{
    margin-top: 5px;
    font-size: 24px;
}


.bloco {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.bloco img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.bloco span {
    margin-top: 10px;
    font-weight: 500;
}


@media (max-width: 768px) {
    .box {
        width: 350px;
        
    }
    .game-info p {
        font-size: 12px;
    }
    .game-info h2 {
        text-align: center;
        font-size: 12px;
    }
    .bloco img {
        width: 40px;
    }
    .bloco span {
        font-size: 10px;
    }
    .texto {
        gap: 30px;
    }

}